<section>
  <div class="container">
    <button routerLink="/home"><fa-icon [icon]="faArrowLeftLong"></fa-icon>&nbsp;&nbsp;Back</button>
    <div class="country" *ngIf="country$ |async; let country">
      <img [src]="country.flag" alt="">
      <div class="description">
        <h2>{{country.name}}</h2>
        <div class="info">
          <div>
            <h5>Native Name:&nbsp;</h5><span>{{country.nativeName}}</span><br>
            <h5>Population:&nbsp;</h5><span>{{country.population | number: '1.0'}}</span><br>
            <h5>Region:&nbsp;</h5><span>{{country.region}}</span><br>
            <h5>Sub Region:&nbsp;</h5><span>{{country.subregion}}</span><br>
            <h5>Capital:&nbsp;</h5><span>{{country.capital}}</span><br>
          </div>
          <div>
            <h5>Top Level Domain:&nbsp;</h5><span>{{country.topLevelDomain}}</span><br>
            <h5>Currencies:&nbsp;</h5><span>{{getCurrencies(country.currencies)}}</span><br>
            <h5>Languages:&nbsp;</h5><span>{{getLanguages(country.languages)}}</span><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
