section {
  background-color: var(--very-light-gray);
  min-height: calc(100vh - 65px);;
  .container {
    padding: 30px 15px;
    button {
      margin: 20px 0px;
      background-color: white;
      border: none;
      padding: 5px 25px;
      margin-bottom: 30px;
      font-size: 16px;
      box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.29);
      -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.29);
      -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.29);
      cursor: pointer;
      transition: 0.6s;
    }
    button:hover {
      transform: translateY(-5px);
    }
    .country {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      img {
        width: 600px;
        box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
        -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
      }
      .description {
        flex: 1;
        h2 {
          margin-bottom: 30px;
        }
        .info {
          display: flex;
          // align-items: center;
          justify-content: space-between;
        }
        h5 {
          display: inline-block;
          margin-bottom: 10px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}
// MEDIA QUERIES
@media (max-width: 768px) {
  section {
    .container {
      .country {
        padding-bottom: 20px;
        flex-direction: column;
        align-items: unset;
        text-align: center;
        gap: 50px;
        img {
          width: 100%;
        }
        .description {
          .info {
            flex-direction: column;
          }
        }
      }
    }
  }
}
