.home {
  background-color: var(--very-light-gray);
  min-height: calc(100vh - 65px);
  .container {
    .country-filters {
      input {

      }
    }
    padding: 30px 15px;
    form.search-form {
      padding: 30px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .countries {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 70px;
      padding-bottom: 20px;
        .country {
          background-color: var(--white);
          border-radius: 6px;
          box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
          -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
          -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.20);
        }
    }
  }
}
// MEDIA QUERIES
@media (max-width: 768px) {
  .home {
    .container {
      form.search-form {
        flex-direction: column;
      }
      .countries {
        .country {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
